@use '../variables' as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    background-color: $secondary-color;
    color: white;
    padding: 1rem 0;
    margin-bottom: 2rem;

    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__main {
    flex: 1;
  }
} 